body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-image: url(./images/wp3170171-pokemon-pokedex-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  caret-color: transparent;
  user-select: none;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
  font-size: 4rem;
  color: rgb(233, 233, 47);
  text-shadow: 5px 5px rgb(0, 0, 0), 5px -5px rgb(0, 0, 0),
    -5px -5px rgb(0, 0, 0), -5px 5px rgb(0, 0, 0);
  text-align: center;
}

.container {
  text-align: center;
  background-color: #ffffff7d;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  overflow: hidden;
  max-height: 60rem;
  opacity: 1;
}

.container.collapsed {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 15px rgba(0, 0, 0, 0.3);
}

.container.collapsed:hover {
  height: auto;
  opacity: 1;
}

button {
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
}

.hidden {
  display: none;
}

label {
  font-weight: bold;
}

#pokemonCard {
  margin-top: 20px;
}

#pokemonProperties {
  display: flex;
  justify-content: center;
}

#pokemonProperties div {
  margin: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#pokemonImage {
  max-width: 200px;
  margin: 10px 0;
}

#pokemonTypes li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.star-button {
  font-size: 3em;
  color: gold;
  animation: pulse 1s infinite alternate;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease-in-out;
  position: relative;
  display: block;
  margin-top: 30px;
  cursor: pointer;
}

#star-box {
  display: flex;
  justify-content: center;
}

#favorite-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(25, 24, 24);
  font-size: 20px;
}
.star-button:hover {
  color: red;
}
.star-button:hover #favorite-text {
  display: inline;
}

.delete-button {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}

#favoriteList {
  margin: 20px;
}

#favoriteList li {
  margin: 20px 0;
  cursor: pointer;
}

@keyframes pulse {
  to {
    transform: scale(1.2);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
